.uagb-block-dff3686e-23ee-4509-9c1d-f36e5621c3bd .uagb-heading-text {text-align: center;margin-bottom: 15px;}
.uagb-block-dff3686e-23ee-4509-9c1d-f36e5621c3bd .uagb-separator-wrap {text-align: center;}
.uagb-block-dff3686e-23ee-4509-9c1d-f36e5621c3bd .uagb-desc-text {text-align: center;}
.uagb-block-dff3686e-23ee-4509-9c1d-f36e5621c3bd .uagb-separator {border-top-style: solid;width: 30%;margin-bottom: 15px;}
.uagb-block-1ee051cd-4608-49cb-9d7f-2af515178b05.uagb-columns__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.uagb-block-1ee051cd-4608-49cb-9d7f-2af515178b05 .uagb-columns__video-wrap {opacity: .5;}
.uagb-block-1ee051cd-4608-49cb-9d7f-2af515178b05 > .uagb-columns__inner-wrap {max-width: 1200px;}
.uagb-block-1ee051cd-4608-49cb-9d7f-2af515178b05 .uagb-column__inner-wrap {padding: 10px;}
.uagb-block-1ee051cd-4608-49cb-9d7f-2af515178b05 .uagb-columns__shape-top .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-1ee051cd-4608-49cb-9d7f-2af515178b05 .uagb-columns__shape-bottom .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-c891fc62-f8fe-457d-982c-630375c78ad3.uagb-columns__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.uagb-block-c891fc62-f8fe-457d-982c-630375c78ad3 .uagb-columns__video-wrap {opacity: .5;}
.uagb-block-c891fc62-f8fe-457d-982c-630375c78ad3 > .uagb-columns__inner-wrap {max-width: 1200px;}
.uagb-block-c891fc62-f8fe-457d-982c-630375c78ad3 .uagb-column__inner-wrap {padding: 10px;}
.uagb-block-c891fc62-f8fe-457d-982c-630375c78ad3 .uagb-columns__shape-top .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-c891fc62-f8fe-457d-982c-630375c78ad3 .uagb-columns__shape-bottom .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-a6bcea6e-e2c5-492e-9ce1-c2ca98c575a4.uagb-columns__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.uagb-block-a6bcea6e-e2c5-492e-9ce1-c2ca98c575a4 .uagb-columns__video-wrap {opacity: .5;}
.uagb-block-a6bcea6e-e2c5-492e-9ce1-c2ca98c575a4 > .uagb-columns__inner-wrap {max-width: 1200px;}
.uagb-block-a6bcea6e-e2c5-492e-9ce1-c2ca98c575a4 .uagb-column__inner-wrap {padding: 10px;}
.uagb-block-a6bcea6e-e2c5-492e-9ce1-c2ca98c575a4 .uagb-columns__shape-top .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-a6bcea6e-e2c5-492e-9ce1-c2ca98c575a4 .uagb-columns__shape-bottom .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-ed5cdac7-b3c7-4001-a6c4-ff1ddfc91437.uagb-columns__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.uagb-block-ed5cdac7-b3c7-4001-a6c4-ff1ddfc91437 .uagb-columns__video-wrap {opacity: .5;}
.uagb-block-ed5cdac7-b3c7-4001-a6c4-ff1ddfc91437 > .uagb-columns__inner-wrap {max-width: 1200px;}
.uagb-block-ed5cdac7-b3c7-4001-a6c4-ff1ddfc91437 .uagb-column__inner-wrap {padding: 10px;}
.uagb-block-ed5cdac7-b3c7-4001-a6c4-ff1ddfc91437 .uagb-columns__shape-top .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-ed5cdac7-b3c7-4001-a6c4-ff1ddfc91437 .uagb-columns__shape-bottom .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}