.uagb-block-62c1712f-699e-43a6-bc41-040b3c7cec04 .uagb-heading-text {text-align: center;margin-bottom: 15px;}
.uagb-block-62c1712f-699e-43a6-bc41-040b3c7cec04 .uagb-separator-wrap {text-align: center;}
.uagb-block-62c1712f-699e-43a6-bc41-040b3c7cec04 .uagb-desc-text {text-align: center;}
.uagb-block-62c1712f-699e-43a6-bc41-040b3c7cec04 .uagb-separator {border-top-style: solid;width: 50%;margin-bottom: 15px;}