.uagb-block-3753f785-5a63-44e6-aca6-6518f30ee702.uagb-columns__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.uagb-block-3753f785-5a63-44e6-aca6-6518f30ee702 .uagb-columns__video-wrap {opacity: .5;}
.uagb-block-3753f785-5a63-44e6-aca6-6518f30ee702 > .uagb-columns__inner-wrap {max-width: 2000px;}
.uagb-block-3753f785-5a63-44e6-aca6-6518f30ee702 .uagb-columns__shape-top .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-3753f785-5a63-44e6-aca6-6518f30ee702 .uagb-columns__shape-bottom .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-icon {height: 40px;width: 40px;line-height: 40px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-icon > span {font-size: 40px;height: 40px;width: 40px;line-height: 40px;color: #333;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-icon svg {fill: #333;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-infobox__content-wrap .uagb-ifb-imgicon-wrap {margin-left: 5px;margin-right: 10px;margin-top: 5px;margin-bottom: 5px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-infobox-cta-link {font-size: px;color: #333;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-button-wrapper .uagb-infobox-cta-link {color: #333;background-color: transparent;border-style: solid;border-color: #333;border-width: 1px;padding-top: 10px;padding-bottom: 10px;padding-left: 14px;padding-right: 14px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-button-wrapper .uagb-infobox-cta-link svg {fill: #333;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-title-prefix {margin-bottom: 5px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-title {margin-bottom: 50px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-desc {margin-bottom: 10px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-separator {width: 50%;border-top-width: 2px;border-top-color: #eee;border-top-style: solid;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-separator-parent {margin-bottom: 50px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-align-icon-after {margin-left: 5px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-align-icon-before {margin-right: 5px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-ifb-image-content > img {width: 120px;max-width: 120px;}
.uagb-block-31612c4e-e5ce-4897-874f-293ca52bff61 .uagb-infobox__content-wrap {text-align: center;}
.uagb-block-8cc29a0d-5289-4b27-8c6b-66f0ddc16923.uagb-section__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;margin-right: auto;margin-left: auto;max-width: 900px;}
.uagb-block-8cc29a0d-5289-4b27-8c6b-66f0ddc16923 > .uagb-section__video-wrap {opacity: .5;}
.uagb-block-8cc29a0d-5289-4b27-8c6b-66f0ddc16923 > .uagb-section__inner-wrap {max-width: 100%;}
.uagb-block-426cb073-1ecd-4f4c-ae30-588c6ea14356.uagb-columns__wrap {padding-top: 20px;padding-bottom: 20px;padding-left: 20px;padding-right: 20px;}
.uagb-block-426cb073-1ecd-4f4c-ae30-588c6ea14356 .uagb-columns__video-wrap {opacity: .5;}
.uagb-block-426cb073-1ecd-4f4c-ae30-588c6ea14356 > .uagb-columns__inner-wrap {max-width: 1200px;}
.uagb-block-426cb073-1ecd-4f4c-ae30-588c6ea14356 .uagb-column__inner-wrap {padding: 10px;}
.uagb-block-426cb073-1ecd-4f4c-ae30-588c6ea14356 .uagb-columns__shape-top .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}
.uagb-block-426cb073-1ecd-4f4c-ae30-588c6ea14356 .uagb-columns__shape-bottom .uagb-columns__shape-fill {fill: rgba(51,51,51,1);}